nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Datos

            a.nav-link(href='datos.html')
                .sb-nav-link-icon
                    i.fas.fa-database
                | Datos

    .sb-sidenav-footer
        
        .small Logged in as:
        | Start Bootstrap
