name: Train Fall Detection Model

on:
  push:
    paths:
      - '**.py'
      - 'requirements.txt'
      - 'data/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Train model
      run: |
        python entrenamiento_cnn.py

    - name: Upload trained model
      uses: actions/upload-artifact@v3
      with:
        name: modelo-entrenado
        path: |
          model.h5
          model.tflite
          logs/
